.nav-item a{
    /* color: hsl(var(--black)); */
    color: black;
}

.nav-item a.active {
    /* color: hsl(var(--blue)); */
    color: blue;
}

/* Will Not Work */
/* .header .nav-list{
    display: none;
} */

/* This will work -> :global(.nav-list) */
.header :global(.nav-list){
    /* display: none; */
}

.nav-link {
    composes: header;
    /* composes: header from "../TheFooter/TheFooter.module.css */
}